.elem{
    border: 1px solid rgb(83, 3, 114);
    background-color: rgb(181, 236, 198);
    width: 100px;
    height: 100px;
}

article{
    display: grid;
    grid-template-columns: 100px 100px 100px;
}